#root {
  max-width: 1280px;
  text-align: center;
}

body {
  margin: 0;
}

.btn-primary{
  background-color: #61a1fe;
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;
  border-radius: 10%;
  color: white;
  font-weight: bold;
}

.btn-secondary{
  background-color: grey;
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;
  border-radius: 10%;
  color: white;
  font-weight: bold;
}

 /* BARRA DE PROGRESO  */
 .progress-bar-new {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.contenedor-barra{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}


.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}


.step.active {
  background-color: #3badee;
  color: white;
}

@media (max-width: 576px){
  .contenedor-barra.mobile{
    display: none;
  }
}

/* FIN BARRA DE PROGRESO */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.titulo-banner {
  background: #0078D4;
  padding: 2.5rem 0;
  color: #ffffff;
}

.titulo-banner h3 {
  font-size: 2.8rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}